# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [8]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/yurimalheiros/icd/master/datasets/movies.csv")

In [78]:
df.head()

                        Title   US Gross  ...  IMDB Rating  IMDB Votes
0              The Land Girls   146083.0  ...          6.1      1071.0
1      First Love, Last Rites    10876.0  ...          6.9       207.0
2  I Married a Strange Person   203134.0  ...          6.8       865.0
3        Let's Talk About Sex   373615.0  ...          NaN         NaN
4                        Slam  1009819.0  ...          3.4       165.0

[5 rows x 16 columns]

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [79]:
correspondence = df[["Major Genre", "Worldwide Gross"]].isna()
d = {}
for key in df["Major Genre"].dropna().unique():
  d[key] = 0
for line in range(3201):
  if (not correspondence["Major Genre"][line] and not correspondence["Worldwide Gross"][line]):
    d[df["Major Genre"][line]] += df["Worldwide Gross"][line]

val, key = 0, ""
for k in d.keys():
  if (d[k] >= m):
    val = d[k]
    key = k
print("Genre: ", key)

Genre:  Adventure

### Qual o diretor dirigiu mais filmes?

In [82]:
void = df["Director"].isna()
directors = df["Director"].dropna().unique()
d = {}
for key in directors:
  d[key] = 0
for line in range(3201):
  if (void[line]):
    continue
  else:
    d[df["Director"][line]] += 1
n, key = 0, ""
for dir in directors:
  if (d[dir] >= n):
    n = d[dir]
    key = dir
print("Director: ", dir)

Director:  Ruben Fleischer

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [91]:
titles = df["Title"].dropna().unique()
void = df[["Title", "Worldwide Gross", "Production Budget"]].isna()
d = {}
for i in range(3201):
  if (not void["Title"][i] and not void["Worldwide Gross"][i] and not void["Production Budget"][i]):
    d[df["Title"][i]] = df["Worldwide Gross"][i]/df["Production Budget"][i]

a, key = 0, ""
for t in d.keys():
  if (d[t] >= a):
    a = d[t]
    key = t
print("Movie: ", key)

Movie:  Paranormal Activity